
body, html {
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;

}
.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding : 0px;
    margin: 0px;
    overflow-x: hidden;
}
.content > header{
    display: flex;
    box-sizing: border-box;
    background-color:#004d99;
    padding: 20px 20vh;

    gap: 20px;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.content > header > img {
    height: 120%;
    width: auto;
    
}
.college-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-text {
    font-size: 3vw;
    font-weight: bold;
    color: white;
}
.address{
    color: white;
}
.main-content{
    display: flex;
    flex-direction: column;
    background-color: #99ccff;
    box-sizing: border-box;
    padding: 50px ;
    height: 85%;
}
.main-box{
    background-color: #cce6ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: 2px black solid;
    border-radius: 20px;
    min-width: 100px;
    height: 100%;


}
.main-box > * {
    font-size: 1.5vw;

}
.question-info{
    display: flex;
    justify-content: space-around;
    height: 33%;

}
.question-content{
    display: flex;
    justify-content: center;
    height: 33%;
}
.options{
    display: flex;
    height: 33%;
    justify-content: space-around;
    align-items: center;
}
.option{
    height: 50%;
    width: 20%;
    border-radius: 20px;
    color: #00264d;
    border: 2px solid #00264d;
    
}
footer{
    background-color: #001a33;
    display: flex;
    width:100%; 
    justify-content: center;
    bottom: 0;
    color: white;
    padding: 10px;
    height: 3%;
}